<div class="form-row">
	<!-- ans_r -->
	<div class="col-auto mr-5">
	{% for r in r_associate_answers %}
		{% if r.right_side %}
		<div class="form-group">
			<select class="custom-select custom-select-sm mr-1 mb-1"
			name="usr_a_answer" style="width: 3.8em">
				<option selected value="0"></option>
				{% for l in l_associate_answers %}
				<option value="{{ l.id }}">{{ forloop.counter }}</option>
				{% endfor %}
			</select>
			<span>{{ r.right_side }}</span>
		</div>
		{% else %}
			<select hidden name="usr_a_answer" >
				<option selected value="0"></option>
				{% for _ in l_associate_answers %}
				<option value="0">{{ forloop.counter }}</option>
				{% endfor %}
			</select>
		{% endif %}
	{% endfor %}
	</div>

	<!-- ans_l -->
	<div class="col-auto mt-1">
	{% for l in l_associate_answers %}
		<p class="mb-2"><span class="badge badge-secondary mr-2">{{ forloop.counter }}</span>
			{{ l.left_side }}
		</p>
	{% endfor %}
	</div>
</div>
