<form class="" action="" method="post">
	{% csrf_token %}

	{% for r in associate_answers %} <!-- ans_r -->
	<p>
		<input list="variables" name="usr_a_answer {{ r.id }}" value="" size="3">
		<span>{{ r.right_side }}</span>
	</p>
	{% endfor %}

	<datalist class=""	id="variables">
	{% for l in associate_answers %} <!-- ans_l -->
		<option value="{{ forloop.counter }}"> {{ l.left_side }} -nothing- </option>
	{% endfor %}
	</datalist>

	{% for l in associate_answers %} <!-- ans_l -->
		<p><span>[{{ forloop.counter }}]</span>{{ l.left_side }}</p>
	{% endfor %}

	<p>
		<input type="submit" name="" value="отправить">
		<input type="reset" name="" value="очистить">
	</p>
</form>


{% comment %}
<!-- ================================================= -->
<form class="" action="" method="post">
	{% csrf_token %}
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>сам текст (левая\правая часть 1)</span>
	</p>
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>сам текст (левая\правая часть 2)</span>
	</p>
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>сам текст (левая\правая часть 3)</span>
	</p>
	...

	<datalist class=""	id="vatiables">
		<option value="id1"> текст (правой\левой части 1)</option>
		<option value="id2"> текст (правой\левой части 1)</option>
		<option value="id3"> текст (правой\левой части 1)</option>
		...
	</datalist>

	<p>[1 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №1</p>
	<p>[2 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №2</p>
	<p>[3 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №3</p>
	...
</form>
<!-- ====================================================== -->
антонимы:
id-23 белый - черный
id-24 хорошо - плохо
id-25 сухо - сыро

<form class="" action="" method="post">
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>белый</span>
	</p>
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>сам текст (левая\правая часть 2)</span>
	</p>
	<p>
		<input list="variables" name="usr_a_answer" value="" size="3">
		<span>сам текст (левая\правая часть 3)</span>
	</p>
	...

	<datalist class=""	id="vatiables">
		<option value="id1"> текст (правой\левой части 1)</option>
		<option value="id2"> текст (правой\левой части 1)</option>
		<option value="id3"> текст (правой\левой части 1)</option>
		...
	</datalist>

	<p>[1 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №1</p>
	<p>[2 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №2</p>
	<p>[3 вариант] пошли сами варианты ответа (т.е. левые части) сопоставление №3</p>
	...
</form>
<!-- ====================================================== -->


поля считываются в порядке следования их в html-доке сверху вниз
поэтому установив для все
input'ов одно и то же имя
но для списка вариантов установив id-шники
можно будет с сервера потом считать в каком порядке ...

но для этого порядок вариантов для правой части должен на html
следовать в соответствии с порядком их id из БД

{% endcomment %}
