<div class="card text-center mb-5 mt-3 shadow-lg p-1 rounded"><!-- border-secondary -->
	<div class="card-header">
		{% if test.img_description %}
		<img src="{{ test.img_description.url }}" class="card-img-top img-fluid" alt="<картинка-описание для теста>" style="height: auto; max-height: 300px; width: auto;">
		{% endif %}
		<h5 class="card-title mt-3 text-uppercase">{{ test.title }} </h5>
	</div>
	<div class="card-body">
		{% if test.description %}
		<p class="card-text text-left mb-4">{{ test.description|truncatewords:90 }}</p>
		{% endif %}
		<a href="{{ test.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
	</div>
	<div class="card-footer text-muted">
	{% if test.tags.first %}
		<h5>Для этого теста определены <span class="badge badge-secondary">теги:</span></h5>
		{% for tag in test.tags.all %}
			<a class="btn btn-outline-info btn-sm mb-1"
				href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
		{% endfor %}
		{% else %}
			<h5>Для этого теста нет <span class="badge badge-secondary">тегов</span></h5>
	{% endif %}
	</div>
{% comment %}
	<div class="card-footer text-muted">
		<h6>{{ test.id }}{{ test.is_published }}</h6>
	</div>{% endcomment %}
</div>
