<form class="" method="post" >
	{% csrf_token %}
	<!-- атрибут maxlength - сколько символов можно ввести в поле.
	Если же уставновлено значение по умолч. (в атрибуте value),
	то оно может превышать это значение. Однако если влезть в "инспектор"
	браузера и поменять maxlength на бОльшее значение, то этот трюк пройдет -
	и тогда сервер обработает это значение. Поэтому валидацию нужно делать
	серверную -->
	<p>впишите ответ сюда (символы не чувствительны к регистру)</p>
	<input type="text" maxlength="700" name="usr_o_answer" value="" size="80">

	<p>
	<input type="submit" value="Отправить">
	<input type="reset" value="Очистить">
	</p>
</form>
