{# этот тэг нужен, чтобы загружить тег "static" для его использования #}

{% load static %}

<img src="{% static "ttests/sincity.jpg" %}" alt="<img>">
<img src="{% static "../media/user_2/f0505568.jpg" %}" alt="<img>">


<img src="{% static "../media/user_3/off.jpg" %}" alt="<img>"><br>

<!-- этот вариант мог бы работать, если в settings.py прописать
STATIC_ROOT = MEDIA_ROOT, но джанго ругается что эти значения
должны быть разными -->
<img src="{% static test.img_description.name %}" alt="не раб">

<!-- а вот этот вариант уже работает -->
<img src="{% static "../media/" %}{{ test.img_description.name }}" alt="i">

<img src="{{ test.img_description.url }}" alt="">

{% comment %}
из этого могут возникнуть сложности:
* во первых с безопасностью - кто-нибудь сможет запросить путь вида
	../media/uswer_<num>/ и методом брутфорса перебрать файлы =>
	посмотреть их содержимое. Поэтому вероятно в модель теста стоит
	добавить строковое поле, где хранить uuid.uuid4 случайное значение
	(токен) а в поле для медиафайлов в атрибут upload_to вставить
	ссылку на 	функцию, которая генерировала бы называние папки с
	токеном
{% endcomment %}

<img src="{% static 'favicon.png' %}" alt="logo">
{% static 'favicon.png' %}


<link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
<link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
