{% extends 'ttests/root_base.html' %}

{% block nav %}
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #e3f2fd;">
	<a class="navbar-brand" href="{% url 'ttests:test_list_url' %}">
		<h2 style="color: #333; font-size: 1.75rem;">Test4all</h2>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarSupportedContent"
	aria-controls="navbarSupportedContent"
	aria-expanded="false"   aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- begin nav items -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="{% url 'ttests:tag_list_url' %}">все&nbsp;теги</a>
			</li>
			{% if user and user.username and user.is_staff %}
			<li class="nav-item mr-2">
				<a class="nav-link " href="/admin/" tabindex="-1" aria-disabled="true">мои&nbsp;тесты</a>
			</li>
			{% endif %}
		</ul>

		<form method="post" class="form-inline my-2 my-sm-2 mr-3"
			action="/" >
			{% csrf_token %}
			<div class="input-group">
				<input class="form-control" type="search" placeholder="Поиск по тестам" aria-label="search" name="search" size="47" aria-describedby="btn-search">
				<div class="input-group-append">
				<button class="btn btn-outline-success" type="submit" id="btn-search" tabindex="2">найти</button>
				</div>
			</div>
		</form>

		{% if user and user.is_active %}
		<div class="">
			<a class="btn btn-outline-primary mt-2 mt-md-0"
				href="{% url 'ttests:logout_url' %}"
				title="пользователь: {{ user.username }}">выход</a>
		</div>
		{% else %}
		<!-- <div class="">
			<a class="btn btn-outline-primary mt-2 mt-md-0"
				href="{% url 'ttests:login_url' %}">вход</a>
		</div> -->
		<button class="btn btn-outline-primary" data-toggle="collapse"
				type="button" data-target="#loginEmbeded"
			aria-expanded="false" aria-controls="collapseExample">
		вход
		</button>
		{% endif %}
	</div>
	<!-- end nav items -->
</nav>
{% endblock %}

{% block optional %}
{% if not user.is_active %}
<div class="collapse container mt-4 " id="loginEmbeded">
<form class="" action="{% url 'ttests:login_url' %}" method="post">
	{% csrf_token %}
	<div class="form-row">

	<div class="offset-md-2 col-md-3 mb-2">
	<input class="form-control form-control-sm" type="text"
	id="UNorUE" name="usernameoremail"  placeholder="имя пользователя">
	</div>

	<div class="col-md-3 mb-2">
	<input class="form-control form-control-sm" type="password" id="UP"
	name="userpassword" placeholder="пароль">
	</div>

	<div class="col-md-3">
	<input class="btn btn-sm btn-outline-primary" type="submit" value="войти">
	<a class="btn-sm ml-2 float-right btn-outline-secondary link btn"
	href="{% url 'ttests:register_url' %}">регистрация</a>
	</div>

	</div>
</form><hr>
</div>
{% endif %}
{% endblock %}
