{% extends 'ttests/base.html' %}

{% block content %}
  <h1 class="text-danger">Важно</h1>
  <p>Cookies - важная часть для работы сайта. Если ваш браузер не поддерживает cookies или они каким-либо образом были удалены, то вам может помочь:</p>
  <ul>
  	<li>Если при прохождении какого-либо теста, вы попали на эту страницу, то это значит, что были удалены важные куки, без которых вы не сможете пройти тест. Пройдите тест еще раз.</li>
  	<li>Если при иных обстоятельствах вы попали на эту страницу, закройте вкладку с сайтом в вашем браузере и откройте заново.</li>
	<!-- а вернее разлогиньтесь и залогиньтесь заново -->
  </ul>
{% endblock %}
