{% extends 'ttests/base.html' %}

{% block content %}
	{# {% include 'ttests/_card_of_test.html' %}  #}


	<div class="card mt-1 mb-5" style="width: auto;">

	  {% if test.img_description %}
  	<img src="{{ test.img_description.url }}" class="card-img-top" alt="<картинка-описание для теста>">
  	{% endif %}

	  <div class="card-body">
	    <h4 class="card-title">{{ test.title }}</h4>
	  </div>
	  <ul class="list-group list-group-flush">

		{% if test.description %}
		<li class="list-group-item border border-primary border-top-0 border-bottom-0"><p class="card-text">{{ test.description }}</p></li>
		{% endif %}

	    <li class="list-group-item">Автор теста: {{ test.author }}</li>

		{% if test.testing_time %}
	    <li class="list-group-item">Время для решения теста: {{ test.testing_time }}</li>
		{% else %}
		<li class="list-group-item">Время для решения теста: не ограничено</li>
		{% endif %}

		{% if test.show_q_number %}
	    <li class="list-group-item">количество вопросов для решения: {{ test.show_q_number }}</li>
		{% else %}
	    <li class="list-group-item">количество вопросов для решения: {{ test.count_q_to_answer }}</li>
		{% endif %}

		{% if test.only_fully_correct %}
	    <li class="list-group-item text-danger">Внимание, засчитываются только 100% правильные ответы на вопросы</li>
		{% endif %}

	    <li class="list-group-item">Тест опубликован: {{ test.update_date }}</li>

		{% if tag %}
	    <li class="list-group-item">Теги теста:
			{% for tag in test.tags.all %}
			<span class="badge badge-secondary">{{ tag }}</span>
			{% endfor %}
		</li>
		{% endif %}

	  </ul>
	  <div class="card-body">
	    <a href="#" class="card-link btn btn-outline-primary">Пройти тест</a>
	    <!-- <a href="#" class="card-link">Another link</a> -->
		<!-- если тест уже проходил, то кнопка
			"показать результаты последнего тестирования" -->
	  </div>
	</div>

{% endblock %}


{% comment %}
так можно сделать цветную полоску (типа как цитата)
https://webref.ru/css/border-left
<div style="border-left: 3px solid red;">
	<p class="p-3">sdfjsdl</p>
</div>
{% endcomment %}
