{% extends 'ttests/base.html' %}

{% block content %}
	<div class="card mt-1 mb-5" style="width: auto;">

	{% if test.img_description %}
  	<img src="{{ test.img_description.url }}" class="card-img-top" alt="<картинка-описание для теста>">
  	{% endif %}

	  <div class="card-body">
	    <h4 class="card-title">{{ test.title }}</h4>
	  </div>
	  <ul class="list-group list-group-flush">

		{% if test.description %}
		<li class="list-group-item border border-primary border-top-0 border-bottom-0"><p class="card-text">{{ test.description }}</p></li>
		{% endif %}

	    <li class="list-group-item">Автор теста: {{ test.author }}</li>

		{% if test.testing_time %}
	    <li class="list-group-item">Время для решения теста: {{ test.testing_time }}</li>
		{% else %}
		<li class="list-group-item">Время для решения теста: не ограничено</li>
		{% endif %}

	    <li class="list-group-item">количество вопросов для решения: {{ test.count_q_to_answer }}</li>

		{% if test.only_fully_correct %}
	    <li class="list-group-item text-danger">Внимание, засчитываются только 100% правильные ответы на вопросы</li>
		{% endif %}

	    <li class="list-group-item">Тест опубликован: {{ test.update_date }}</li>

		{% if tag %}
	    <li class="list-group-item">Теги теста:
			{% for tag in test.tags.all %}
			<span class="badge badge-secondary">{{ tag }}</span>
			{% endfor %}
		</li>
		{% endif %}

	  </ul>
	  {% if user.is_authenticated %}
	  <div class="card-body">
		<p>
		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" value="Пройти тест"
					class="card-link btn btn-outline-primary">
			{% if is_exist_results %}
			<a href="{% url 'ttests:test_results_url' id=test.id %}"
			class="card-link btn btn-outline-dark" style="float: right">результаты</a>
			{% endif %}
		</form>
		</p>
	  </div>
	  {% endif %}
	</div>
{% endblock %}
