{% extends 'ttests/base.html' %}

{% block meta %}
	<meta name="robots" content="index, follow">
	<meta name="description" content="Главная страница сайта Test4all, предназначенного для создания тестов и тестирования всех желающих.">
	<meta name="keywords" content="Test4all, тесты, бесплатно, создание, прохождение, тестов, тестирование">
{% endblock %}

{% block content %}

	{% for test in test_list %}
		{% include 'ttests/_card_of_test.html' %}
	{% endfor %}

{% endblock %}



{% comment %}

Если у теста нет вопросов - не показывать его в списке тестов:
{% for test in test_list %}
	{% if test.questions.count != 0 %}
		{% include 'ttests/_card_of_test.html' %}
	{% endif %}
{% endfor %}

Если тест не опубликован - не показывать его в списке тестов, а также
запретить его просматривать, если ввести напрямую его id-шник в строке url

{% endcomment %}
